
{% extends 'base.html' %}

{% block content %}

{% if em %}
<section class="section-conten padding-y" style="min-height:84vh">

    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
      <h5 class="card-title mb-4">Enter your email</h5>
      <form method="post">
            {% csrf_token %} 
            {% include 'alert.html' %}
            <div class="form-group">
                
                <input  class="form-control" placeholder="Enter Email" type="text" name="email" required>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Send Otp</button>
            </div>
           
          </div> <!-- form-group// -->    
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <br><br>


</section>

{% elif otp %}


<section class="section-conten padding-y" style="min-height:84vh">

    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
      <h5 class="card-title mb-4">Hi {{name}} Enter your OTP here!</h5>
      <form method="post">
            {% csrf_token %} 
            {% include 'alert.html' %}
            <div class="form-group">
                
                <input  class="form-control" placeholder="Enter OTP" type="text" name="otp" required>
            </div>
            <div style="display: none;">
                <input class="form-control" type="text" value= "{{email}}" name="email">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Verify</button>
            </div>
           
          </div> <!-- form-group// -->    
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <br><br>


</section>
{% else %}
<section class="section-conten padding-y" style="min-height:84vh">

    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
      <h5 class="card-title mb-4">Hi {{name}} Reset password</h5>
      <form method="post">
            {% csrf_token %} 
            {% include 'alert.html' %}
            <div class="form-group">
                
                <input class="form-control" placeholder="New password" type="text" name="pass1" required>
                <input class="form-control" placeholder="Conform password" type="text" name="pass2" required>
            </div>
            <div style="display: none;">
                <input class="form-control" type="text" value= "{{email}}" name="email">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Verify</button>
            </div>
            <a href="{% url 'register' %}">Resend OTP</a>
          </div> <!-- form-group// -->    
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <br><br>


</section>
{% endif %}
{% endblock %}