{% extends 'base.html' %}
{% load static %}
{% block content %}




<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">{{catagory_name}}</h2>
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            
    <div class="card">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Categories</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
                <div class="card-body">
                    
                    <ul class="list-menu">
                    {% for catagory in catagories %}
                    
                    <li><a href="{% url 'catagory_show' catagory.uid %}">{{catagory.category_name}}</a></li>
                    {% endfor %}
                    </ul>
    
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
       
        
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Price range </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_3" style="">
                <div class="card-body">
                    
                    <div class="form-row">
                        <form method="post" autocomplete="off">
                            {% csrf_token %}
                      <!-- <input class="form-control" placeholder="$0" type="number"> -->
                          <select name ="price" class="mr-2 form-control form-block">
                            <option value="All">All product</option>
                            <option value="-20,000">below 20,000</option>
                            <option value="-50,000">below 50,000</option>
                            <option value="50,000+">50,000+</option>
                        </select>
                   
                    </div><br> <!-- form-row.// -->
                    <button type="submit" class="btn btn-block btn-primary">Apply</button>
                </form>
                </div><!-- card-body.// -->
            </div>
        </article> <!-- filter-group .// -->
        
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <main class="col-md-9">
    
    <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto">{{products.count}} Items found </span>
                
            </div>
    </header><!-- sect-heading -->
    
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <figure class="card card-product-grid">
                <div class="img-wrap"> 
                    
            <a href="{% url 'get_product' product.slug %}" class="img-wrap"><img src="{{product.product_image.first.image.url}}"></a>
                    
                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                    <div class="fix-height">
                        <a href="./product-detail.html" class="title">{{product.product_name}}</a>
                        <div class="price-wrap mt-2">
                            <span class="price">&#x20B9;{{product.productVariant.first.price}}</span>
                            <del class="price-old">$1980</del>
                        </div> <!-- price-wrap.// -->
                        {% if product.offer %}
                       <p style="color:green;"> 
                        <strong>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
                            <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"/>
                            <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
                            </svg>
                            
                        {{product.offer.name}} {{product.offer.percentage}}% Off
                      </strong>
                    </p>
                        {% endif %}

                       {% if product.category.offer %}
                       <p style="color:green;"> 
                          <strong>

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
                        <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"/>
                        <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
                        </svg>

                        {{product.category.offer.name}} {{product.category.offer.percentage}}% Off on all {{product.category.category_name}}s
                      </strong>
                      </p>
                       {% endif %}
                    </div>
                    {% comment %} <a href="#" class="btn btn-block btn-success">Added to cart </a> {% endcomment %}
                </figcaption>
            </figure>
        </div> <!-- col.// -->
    
        {% endfor %}
    </div> <!-- row end.// -->
    

{% endblock %}